* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.appForm {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
  align-items: center;
}

.inputAndButton {
  display: flex;
  margin-top: 10px;
}

.tweetsCard {
  border: 2px solid #ffff;
  margin: 10px;
  padding: 10px;
}

.deleteTweet {
  border-radius: 10px;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: red;
}