* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 40px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appForm {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
  align-items: center;
}

.inputAndButton {
  display: flex;
  margin-top: 10px;
}

.inputAutor {
  padding: 5px;
}

.button {
  padding: 5px;
}

.resultTweets {
  margin: 20px;
}

.tweetsCard {
  border: 2px solid #ffff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 80vw;
  background-color: #ffff;
  color: black;
  text-align: start;
  font-size: 12px;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;

}

.liked {
  height: 18px;
  width: 18px;
}

.editTweet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteTweet {
  border-radius: 10px;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: red;
}